<div class="panel panel-default">
  <div class="panel-heading">Por favor, informe os dados para a abertura do ticket.</div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="addTicket()">
  <div class="form-group">
    <label for="nome" class="col-sm-2 control-label">Nome: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.nome" name="nome">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.email" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="descricao" class="col-sm-2 control-label">Descrição : </label>
    <div class="col-sm-9">
      <textarea class="form-control" rows="8" id="descricao" [(ngModel)]="model.descricao" name="descricao"></textarea>
    </div>
  </div>

  <div class="form-group">
      <label for="data" class="col-sm-2 control-label">Data Abertura : </label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="data" [(ngModel)]="model.data" name="data">
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Abrir Ticket</button>
      <a  class="btn btn-info" (click)="goBack()">Cancelar</a>
    </div>

  </div>
</form>

</div>
</div>
