.btn, .btn-info, .btn-success,.btn-danger{
    width:75px;
    margin-left: 7px;
}

.ticketAberto{
  color: rgb(11, 76, 206);
  font-weight: bold;
}

.ticketEmAndamento{
  color: rgb(187, 187, 49);
  font-weight: bold;
}

.ticketFechado{
  color: red;
  font-weight: bold;
}

.ultimos15 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid rgba(175, 116, 76, 0.884);
  width: 300px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.ultimos15:hover {
  background-color: rgb(156, 67, 15);
  color: white;
}

.ultimos30 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid rgba(76, 152, 175, 0.884);
  width: 300px;
}

.ultimos30:hover {
  background-color: rgba(76, 152, 175, 0.884);
  color: white;
}

.ultimos60 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid rgb(46, 85, 34);
  width: 300px;
}

.ultimos60:hover {
  background-color: rgb(46, 85, 34);
  color: white;
}

.visualizartodos {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid black;
  width: 300px;
}

.visualizartodos:hover {
  background-color: black;
  color: white;
}

.limpaTicketsFechados{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid rgb(207, 54, 54);
  width: 300px;
}

.limpaTicketsFechados:hover {
  background-color: rgb(207, 54, 54);
  color: white;
}

.visualizaFechados{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid rgb(87, 5, 76);
  width: 300px;
}

.visualizaFechados:hover {
  background-color: rgb(87, 5, 76);
  color: white;
}

.pai{
  display: table;
}

.row{
  float: left;
}

.pesquisa{
  width: 300px;
  margin-left: 70%;
  margin-top: 20%;

}

.opcoes{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 2px solid rgb(99, 19, 19);
  width: 170px;
}

.opcoes:hover {
  background-color: rgb(99, 19, 19);
  color: white;
}

