
<div class="pai">
  <div class="row">
    <div class="span12">
       <div class="page-header">
          <label>Filtros Adicionais</label>

        <div class="dropdown">
           <a href="#" class="btn opcoes" data-toggle="dropdown">Opções<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><a class="btn ultimos15" (click)="getUltimos15Dia()">Últimos 15 Dias</a></li>
              <li><a class="btn ultimos30" (click)="getUltimos30Dia()">Últimos 30 Dias</a></li>
              <li><a class="btn ultimos60" (click)="getUltimos60Dia()">Últimos 60 Dias</a></li>
              <li><a class="btn visualizartodos" (click)="getTickets()">Visualizar todos os Tickets</a></li>
              <li>  <a class="btn limpaTicketsFechados" (click)="getLimpaTicketsFechados()">Limpar Tickets Fechados
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a></li>
              <li> <a class="btn visualizaFechados" align="center" (click)="getTicketsLimpados()">Visualizar Tickets Limpados
                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true" ></span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

    </div>
    <div class="pesquisa">
        <form id="filter">
        <label>Filtre tickets pelo nome: </label>
        <input class="form-control" type="text" [(ngModel)]="termo" name="termo" />
        <br>
        </form>
        </div>

    </div>

<h3>Tickets</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Email</td>
      <td>Data</td>
      <td>Status</td>
      <td width=275 align="center">Ação</td>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let ticket of tickets | filter:termo">
        <td>{{ticket.nome}}</td>
        <td>{{ticket.email}}</td>
        <td>{{ticket.data | date:'dd/mM/yyyy'}}</td>
        <td class="ticketAberto" *ngIf="ticket.status == 1">Aberto</td>
        <td class="ticketEmAndamento" *ngIf="ticket.status == 2">Em Andamento</td>
        <td class="ticketFechado" *ngIf="ticket.status == 3">Fechado</td>
        <td class="ticketFechado" *ngIf="ticket.status == 4">Fechado</td>
        <td width=275>
            <a class="btn btn-info" routerLink="/show/{{ticket.id}}">Detalhes</a>
            <a class="btn btn-success" routerLink="/edit/{{ticket.id}}">Editar</a>
            <a class="btn btn-danger" (click)="deleteTickets(ticket.id)">Deletar</a>
        </td>
     </tr>

  </tbody>

</table>

