
<div class="panel panel-default" *ngIf=ticket>
  <div class="panel-heading">Aqui você pode verificar todas as informações do ticket</div>
  <div class="panel-body">
      <form class="form-horizontal" >
        <div class="form-group">
          <label for="nome" class="col-sm-2 control-label">Nome: </label>
          <div class="col-sm-9">
            <p class="form-control">{{ticket.nome}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email : </label>
          <div class="col-sm-9">
          <p class="form-control">{{ticket.email}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="data" class="col-sm-2 control-label">Data : </label>
          <div class="col-sm-9">
          <p class="form-control">{{ticket.data | date: 'dd/mM/yyyy'}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="salary" class="col-sm-2 control-label">Status: </label>
          <div class="col-sm-9">
            <p class="form-control" *ngIf="ticket.status == 1">Aberto</p>
            <p class="form-control" *ngIf="ticket.status == 2">Em Andamento</p>
            <p class="form-control" *ngIf="ticket.status == 3">Fechado</p>
          </div>
        </div>
        <div class="form-group">
          <label for="id" class="col-sm-2 control-label">Descricao: </label>
          <div class="col-sm-9">
              <textarea disabled class="form-control" rows="8">{{ticket.descricao}}</textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
             <a  class="btn btn-info" (click)="goBack()">Voltar</a>
          </div>
        </div>
    </form>
  </div>
</div>
