<div class="panel panel-default">
  <div class="panel-heading">Edite as informações do ticket</div>
  <div class="panel-body">
    <form class="form-horizontal" (submit)="updateTicket()">
  <div class="form-group">
    <label for="nome" class="col-sm-2 control-label">Nome: </label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  [(ngModel)]="model.nome" name="nome">
    </div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.email" name="email">
    </div>
  </div>
  <div class="form-group">
    <label for="department" class="col-sm-2 control-label">Descrição </label>
    <div class="col-sm-9">
      <textarea class="form-control" rows="5" id="descricao" [(ngModel)]="model.descricao" name="descricao"></textarea>
    </div>
  </div>

  <div class="form-group">
      <label for="data" class="col-sm-2 control-label">Data </label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="data" [(ngModel)]="model.data" name="data">
      </div>
    </div>

  <div class="form-group">
    <label for="salary" class="col-sm-2 control-label">Status </label>
    <div class="col-sm-9">
      <select class="form-control"  [(ngModel)]="model.status" name="status">
        <option value='1'>Ticket Aberto</option>
        <option value='2'>Ticket em Andamento</option>
        <option value='3'>Ticket Concluído</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Atualizar</button>
      <a  class="btn btn-info" (click)="goBack()">Cancelar</a>
    </div>

  </div>
</form>

  </div>
</div>
