<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['/home']">Sistema de Tickets Sikoni - Renato Veronese</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Home</a></li>
            <li *ngIf="nav.visible" [routerLinkActive]="['active']"><a [routerLink]="['/add']">Adicionar Ticket</a></li>
            <li *ngIf="nav.visible" [routerLinkActive]="['active']"><a [routerLink]="['/logout']">Sair</a></li>

          </ul>
        </div>
      </div>
    </nav>
