<alert></alert>
<div class="col-md-6 col-md-offset-3">
   <h2>Registrar</h2>
   <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
           <label for="firstName">Nome</label>
           <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
           <div *ngIf="f.submitted && !firstName.valid" class="help-block">Nome é obrigatório!</div>
       </div>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
           <label for="lastName">Sobrenome</label>
           <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
           <div *ngIf="f.submitted && !lastName.valid" class="help-block">Sobrenome é obrigatório!</div>
       </div>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
           <label for="username">Nome de Usuário</label>
           <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
           <div *ngIf="f.submitted && !username.valid" class="help-block">Nome de usuário é obrigatório</div>
       </div>
       <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
           <label for="password">Senha</label>
           <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
           <div *ngIf="f.submitted && !password.valid" class="help-block">Senha é obrigatória!</div>
       </div>
       <div class="form-group">
           <button class="btn btn-primary">Registrar</button>
           <a [routerLink]="['/login']" class="btn btn-link">Voltar</a>
       </div>
   </form>
</div>
